<main>
    <!-- SOCIAL FIXE -->
    <div class="fixed">
        <div>
            <span class="line1"></span>
        </div>
        <div>
            <span class="line2"></span>
            <a routerLink="/accueil"><img src="../../../assets/Illustrations + Logo/icon_facebook.png" alt="iconfb"></a>
            <a routerLink="/accueil"><img src="../../../assets/Illustrations + Logo/icon_instagram.png" alt="iconig"></a>
            <a routerLink="/accueil"><img src="../../../assets/Illustrations + Logo/icon_tik_tok.png" alt="icontk"></a>
            <a routerLink="/accueil"><img src="../../../assets/Illustrations + Logo/icon_twitter.png" alt="icontw"></a>
        </div>
    </div>

    <!-- HEROS -->
    <section id="hero_e-shop">
        <div class="container">
            <h2>bienvenue dans votre Wakanda-shop!</h2>
        </div>
    </section>

    <section class="container">
        <app-produit></app-produit>
    </section>
</main>