.flex {
    display: flex;
    justify-content: space-between;
    ul {
        display: inline;
        li {
            padding: 15px;
            display: inline;
            list-style-type: none;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}