<main>
    <!-- SOCIAL FIXE -->
    <div class="fixed">
        <div>
            <span class="line1"></span>
        </div>
        <div>
            <span class="line2"></span>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_facebook.png" alt="iconfb"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_instagram.png" alt="iconig"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_tik_tok.png" alt="icontk"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_twitter.png" alt="icontw"></a>
        </div>
    </div>
</main>