nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: "Beyno", sans-serif, serif;
    padding: 20px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--white);
}

nav img:hover {
    background-color: var(--purplegrey);
}