<!-- HEADER -->
<header>
    <nav class="container">
        <a href=""><img src="../../../assets/Illustrations + Logo/icon_SaynaXMarvel.png" alt="logo"></a>
        <ul>
            <li><a routerLink="accueil">ACCUEIL</a></li>
            <li><a routerLink="wakanda">WAKANDA</a></li>
            <li><a routerLink="enigme">ENIGME</a></li>
            <li><a routerLink="e-shop">E-SHOP</a></li>
            <li><a routerLink="mon-compte">MON COMPTE</a></li>
        </ul>
    </nav>
</header>

<!-- MAIN -->
<main>

    <!-- SOCIAL FIXE -->
    <div class="fixed">
        <div>
            <span class="line1"></span>
        </div>
        <div>
            <span class="line2"></span>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_facebook.png" alt="iconfb"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_instagram.png" alt="iconig"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_tik_tok.png" alt="icontk"></a>
            <a routerLink="accueil"><img src="../../../assets/Illustrations + Logo/icon_twitter.png" alt="icontw"></a>
        </div>
    </div>